# NEORV32 UART configuration

# Copyright (c) 2021 Henrik Brix Andersen <henrik@brixandersen.dk>
# SPDX-License-Identifier: Apache-2.0

config UART_ZIP_WBUART32
	bool "ZipCPU wbuart32 UART"
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL_SUPPORT_ASYNC
	help
	  This option enables the UART driver for ZipCPU wbuart32 compatible ports.
