# Copyright (c) 2020 Cobham Gaisler AB
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RS_RVCGRA
	bool "RS RV-CGRA Systems"
	select RISCV
	select SOC_FAMILY_RISCV_PRIVILEGE
	select RISCV_ISA_RV32I
	select ARCH_HAS_USERSPACE
	select CPU_HAS_MPU
	select MPU
	select SRAM_REGION_PERMISSIONS
